body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9; /* Color de fondo suave */
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

table, th, td {
    border: 1px solid #ddd; /* Color de borde más suave */
    text-align: center;
}

th {
    background-color: #f2c94c; /* Color de fondo más suave para los encabezados */
    font-weight: bold;
    padding: 12px; /* Espaciado más amplio */
}

td {
    padding: 12px;
    transition: background-color 0.3s; /* Transición suave para cambios de color */
}

.ok {
    background-color: #6dbf4d; /* Verde más claro */
    color: white;
}

.pending {
    background-color: #e74c3c; /* Rojo más claro */
    color: white;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    color: white;
    background-color: #3498db; /* Color de fondo azul */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave para cambios de color */
}

button:hover {
    background-color: #2980b9; /* Color más oscuro al pasar el mouse */
}

input {
    width: 90%;
    padding: 8px; /* Espaciado interno para entradas */
    border: 1px solid #ccc; /* Borde suave */
    border-radius: 5px; /* Bordes redondeados */
}

input[readonly] {
    background-color: #f0f0f0;
    border: none;
}

@media (max-width: 600px) {
    td, th {
        padding: 8px; /* Menos espaciado en pantallas pequeñas */
    }

    button {
        width: 100%; /* Botones ocupan todo el ancho en pantallas pequeñas */
    }

    input {
        width: 100%; /* Entradas ocupan todo el ancho en pantallas pequeñas */
    }
}
canvas {
    max-width: 100%;
    height: auto; /* Permitir que el canvas ajuste su altura */
    margin: 20px auto; /* Centrar el gráfico */
}

